

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title></title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
        <!-- 左侧导航区域 -->
            <ul class="layui-nav layui-nav-tree" >
                <li class="layui-nav-item layui-nav-itemed">
                <a class="if-auto" href="javascript:;">接口管理中心</a>
                <dl class="layui-nav-child">
                    <dd><a href="../page/IFTest.html ">接口管理</a></dd>
                    <dd><a href="../page/IFTestByCasePage.html">用例管理</a></dd>
                </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">配置中心</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">项目配置</a></dd>
                    <dd><a href="">成员管理</a></dd>
                </dl>
                </li>
                <li class="layui-nav-item"><a href=""></a></li>
            </ul>
        </div>
    </div>
    </div>
</body>
</html>
