

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title></title>
<link rel="stylesheet" href="../static/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域 -->
      <ul class="layui-nav layui-nav-tree" >
        <li class="layui-nav-item layui-nav-itemed">
          <a class="ui-auto" href="javascript:;">UI自动化测试</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="javascript:;">列表三</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">接口自动化测试</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">单条执行</a></dd>
            <dd><a href="javascript:IFTestByCasePage.html;">批量执行</a></dd>
            <dd><a href="IFTestByCasePage.html">批量执行</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">性能自动化测试</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
