<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>接口测试中心</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="import" href="../nav/navTop.html" id="navTopPage">
    <link rel="import" href="../nav/navIF.html" id="navIFPage">
    <style>
</style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="nav">
    <!-- 导航栏 -->
        <div class="layui-header">
        <!-- 头部区域 -->
            <div class="layui-logo">
                <span style="font-size: large" >
                    <a href="../page/index.html"><b style="color: lightseagreen">SnokeAutoTest</b></a>
                </span>
            </div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="../page/IFTestByCasePage.html">接口测试</a></li>
                <li class="layui-nav-item"><a href="">UI测试</a></li>
                <li class="layui-nav-item"><a href="">性能</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">账户管理</a>
                    <dl class="layui-nav-child">
                      <dd><a href="">邮件管理</a></dd>
                      <dd><a href="">消息管理</a></dd>
                      <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                <a href="javascript:;">
                <img src="../../static/layui/images/headSculpture/monkey.jpg" class="layui-nav-img">name
                </a>
                <dl class="layui-nav-child">
                  <dd><a href="">基本资料</a></dd>
                  <dd><a href="">安全设置</a></dd>
                </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出</a></li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
        <!-- 左侧导航区域 -->
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" >
                    <li class="layui-nav-item layui-nav-itemed">
                    <a class="if-auto" href="javascript:;">接口管理中心</a>
                    <dl class="layui-nav-child">
                        <dd><a href="../page/IFTest.html ">接口管理</a></dd>
                        <dd><a href="../page/IFTestByCasePage.html">用例管理</a></dd>
                    </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">配置中心</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">项目配置</a></dd>
                        <dd><a href="">成员管理</a></dd>
                    </dl>
                    </li>
                    <li class="layui-nav-item"><a href=""></a></li>
                </ul>
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
                © TestAutoFalsk 2020 - 0.1
            </div>
    </div>

    <div class="layui-body">
        <div class="bread crumb">
            <span class="layui-breadcrumb">
            <p>&nbsp</p>
            <a href="index.html">&nbsp&nbsp&nbsp&nbsp首页</a>
            <a href="">接口测试</a>
                <a><cite><b>用例管理</b></cite></a>
            <hr>
            </span>
        </div>

        <div class="layui-row">
            <blockquote class="layui-elem-quote">
                1.请按照模板数据填写
                <br />
                1.请按照模板数据填写
                <br />
                1.请按照模板数据填写
                <br />
                1.请按照模板数据填写
            </blockquote>

            <div class="layui-col-md1">
                <button type="button" class="layui-btn" id="upload">上传文件</button>
            </div>
            <div class="layui-col-md1">
              <p id="errorText"></p>
            </div>
        </div>


    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script>
    layui.use(['upload', 'element'], function(){
      var $ = layui.jquery
      ,upload = layui.upload
      ,element = layui.element;
    var uploadInst = upload.render({
    elem: '#upload'
    ,url: ''
    //,size: 2000 //限制文件大小，单位 KB
    //,accept: 'file'
    ,method: 'get'
    ,fileAccept: 'file'
    ,exts: "xls|xlsd|"
    ,done: function(res){
      //如果上传失败
      if(res.code > 0){
        return layer.msg('上传失败');
      }
      //上传成功
    }
    ,error: function(){
      this.item.html('上传失败');
      var demoText = $('#errorText');
      demoText.html('<span style="color: #FF5722;">上传失败</span>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
      element.progress('demo', '0%');
    }
      //演示失败状态，并实现重传
  });
  //重置上述 upload 实例
  uploadInst.reload({
    name:'avatar'
    ,accept: 'images' //只允许上传图片
    ,acceptMime: 'image/*' //只筛选图片
    //,size: 2
    })
});
</script>
</body>
</html>