<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>接口测试中心</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <link rel="import" href="../nav/navTop.html" id="navTopPage">
    <link rel="import" href="../nav/navIF.html" id="navIFPage">
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-body">
            <div id="bread crumb">
                <span class="layui-breadcrumb">
                <p>&nbsp</p>
                <a href="index.html">&nbsp&nbsp&nbsp&nbsp首页</a>
                <a href="">接口测试</a>
                <a><cite><b>接口管理</b></cite></a>
                <hr />
                </span>
            </div>

            <form class="layui-form layui-form-pane1" action="IFTestByCasePage.html" lay-filter="first" id="urlbar">
            <fieldset class="layui-elem-field" style="background-color: #f2f2f2">
            <legend>CaseName</legend>
            <div class="layui-field-box">
                <div class="layui-row layui-col-space20" >
                    <span   class="layui-col-md1" id="method-select" >
                        <select name="quiz" lay-verify="required" lay-verType="tips">
                            <option value="0">GET</option>
                            <option value="1">POST</option>
                        </select>
                    </span>
                    <span class="layui-col-md7" id="address-text">
                        <input type="text" name="title" lay-verify="required|title" lay-reqText="标题不能为空"
                               required placeholder="请输入地址" autocomplete="off" class="layui-input" >
                    </span>
                    <span class="layui-col-md1" id="submit-btn">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    </span>
                    <span class="layui-col-md1" id="reset-btn">
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </span>
                </div>
            </div>
            </fieldset>
        </form>

            <div class="layui-tab layui-tab-brief" id="params" lay-filter="resBobyTabBrief">
              <ul class="layui-tab-title">
                  <li class="layui-this">Params</li>
                  <li>Headers</li>
                  <li>Boby</li>
                  <li>Test</li>
              </ul>
              <div class="layui-tab-content" style="height: 275px;">
                  <div class="layui-tab-item layui-show">
                      <table id="paramTable" lay-filter="paramTable"></table>
                  </div>
                  <div class="layui-tab-item">2</div>
                  <div class="layui-tab-item" id="resboby">
                      <div class="layui-col-lg10">
                          <textarea name="" required lay-verify="required" placeholder="请输入" class="layui-textarea"style="height: 275px;"></textarea>
                      </div>
                  </div>
                  <div class="layui-tab-item">4</div>
              </div>
        </div>

            <div class="layui-row" id="response">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend style="color:#8D8D8D;">Response</legend>
                </fieldset>
                <pre class="layui-code" lay-title="返回值">var a = 'hello layui'var a = 'hello layui'
                var a = 'hello layui'var a = 'hello layui'var a = 'hello layui'var a = 'hello layui'var a = 'hello layui'
                var a = 'hello layui'var a = 'hello layui'var a = 'hello layui'var a = 'hello layui'var a = 'hello layui'
                var a = 'hello layui'var a = 'hello layui'var a = 'hello layui'var a = 'hello layui'var a = 'hello layui'
                </pre>
            </div>
        </div>
    </div>

<script src="../../static/layui/layui.js"></script>
<script type="text/html" id="barParamTable">
    <button class="layui-btn layui-btn-xs" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
</script>
<script>
document.write(navTopPage.import.body.innerHTML);
document.write(navIFPage.import.body.innerHTML);
layui.use(['element','form', 'layedit', 'laydate','table','layer','code'], function(){
    var element = layui.element
        ,form = layui.form
        ,layedit = layui.layedit
        ,laydate = layui.laydate
        ,table = layui.table
        ,layer = layui.layer
        ,code = layui.code()
        ,$ = layui.$;


    //参数表格
    table.render({
        elem: '#paramTable'
        ,url: '../../test/table/params_demo.json'
        ,height:'275'
        ,cols: [[
          {field:'params',  title: 'Params', width:'20%', edit: 'text'}
          ,{field:'values', title: 'Values', width: '60%', edit: 'text'}
          ,{field:'operation', title: 'Operation', width: '20%', toolbar: '#barParamTable'}
        ]]
    });


    //修改表格内容
    table.on('edit(paramTable)', function(obj){
    var value = obj.value //得到修改后的值
    ,data = obj.data //得到所在行所有键值
    ,field = obj.field; //得到字段
    });

    //监听工具条
    table.on('tool(paramTable)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
        var cbList = [];
        if(layEvent === 'del'){ //删除
            layer.confirm('您是否要删除这条参数？', function(index){
            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
            layer.close(index);//向服务端发送删除指令
            });
        } else if(layEvent === 'add'){//删除
                         var newCol = {
                        "params": "1",
                        "values": "2",
                        "operation": "",
                        };
                        cbList = table.cache.paramTable;
                        for (var i = 0; i < cbList.length; i++) {
                            cbList.push(tableBak[i]);      //将之前的数组备份
                             }
                        cbList.push(newCol);
                        table.reload("paramTable", {
                            data: cbList,
                        });
        }
        });
    //监听提交
    form.on('submit(*)', function(data){
    console.log(data)
    alert(JSON.stringify(data.field));
    return false;
    });
});
</script>
</body>

</html>