table.on('tool(demo)', function(obj){
        var data = obj.data;
        // console.log(data)
        if(obj.event === 'check'){
          //  console.log(data.id);
            $('.textCon').val("");
            layer.open({
                title: '发布申请'
                ,type: 1
                ,maxmin:true
                ,area: ['700px','570px']
                ,content: $('#toExamine')
                ,btn: ['申请', '取消']
                ,yes: function(index, layero) {
                    var userName = $('#userRadio').val();
                    if(userName == null || userName == ''){
                        layer.msg("请选择用户", {icon: 2, time: 2000});
                        return;
                    }
                    var describe = $('.textCon').val();
                    if(describe == null || describe == ''){
                        layer.msg("请输入内容", {icon: 2, time: 2000});
                        return;
                    }
                    $.ajax({
                        type: "post",
                        url: "/approval/application/save.afca",
                        dataType:'json',
                        data: {
                            name: data.toolName,
                            targerId: data.id,
                            status: 0,
                            type: 'script',
                            describe: $('.textCon').val(),
                            key: 'script',
                            supUser:userName
                        },
                        success: function (data) {
                            var message = data.msg;
                            if(data.code === '0'){
                                obj.del();
                                layer.close(index);
                                layer.msg(message,{icon: 1,time:2000});
                                tableObj.reload({
                                    url:'/cd/workPlatform/tool/queryTools.afca'
                                });
                            } else {
                                layer.alert(message, {
                                    icon: 2,title:'提示'
                                });
                                return;
                            }
                        },
                        error: function () {
                        }
                    })
                }
            });
            getAllUser();
            $('.laytable-cell-checkbox').eq(0).empty();
        } else if(obj.event === 'del'){
            layer.confirm('确认删除么', function(index) {
                $.ajax({
                    type: "post",
                    url: "/cd/workPlatform/tool/remove.afca",
                    dataType:'json',
                    data: "id="+data.id,
                    dataType: "json",
                    success: function (data) {
                      //  console.log(data);
                        var message = data.msg;
                        var code = data.code;
                       // console.log(message);
                       // console.log(code);
                        if(data.code === '0'){
                            //obj.del();
                            layer.close(index);
                            layer.alert(message,{icon: 1,time:2000});
                            tableObj.reload({
                                url:'/cd/workPlatform/tool/queryTools.afca'
                            });
                        } else {
                            layer.alert(message, {
                                icon: 2,title:'提示'
                            });
                            return;
                        }
                    },
                    error: function () {
                    }

                })
            });
        }
